h1{
    text-align:center;
}
table {
    margin: 50px auto;
}
td.one{
    border:2px solid black;
    width:60px;
    height:80px;
    border-width:0px 1px 1px 0px;
}
td.two{
    border:2px solid black;
    width:60px;
    height:80px;
    border-width:0px 0px 1px 0px;
}
td.three{
    border:2px solid black;
    width:60px;
    height:80px;
    border-width:0px 0px 0px 1px;
}